.main{
  padding-top:20px;
  padding-bottom:20px;
  padding-left: 30px;
  padding-right: 30px;
}
.header{
  display:flex;
}
.group-filter{
  width: 300px;
  margin-right: 50px;
}
.filter{
  display:flex;
}
.spacer {
    flex: auto;
}

.container {
    width: 100%;
    height: 100%;
}

.sidenav {
    padding: 20px;
    background-color: whitesmoke;
    color: rgba(51, 50, 50, 0.767);
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    padding-bottom: 200px;
}



