<body>
    <div class="login-container">
        <div class="login-form">
            <div class="form">
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="title">
                        <h1>Log In</h1>
                    </div>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <!-- <mat-error *ngIf="email?.hasError('email-not-valid')"> Email invalid. </mat-error> -->
                        <mat-error *ngIf="email?.hasError('email')">Please enter a valid email
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" matInput placeholder="Ex. Nougat"
                            formControlName="masterPassword">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="masterPassword?.hasError('password-not-valid')">
                            Password is not correct.
                        </mat-error>
                    </mat-form-field>

                    <div class="link">
                        <a mat-button>Forgot your password?</a>
                    </div>

                    <button class="login-button" type="submit" mat-button>Log In</button>
                </form>
            </div>
        </div>
        <div class="sign-up">
            <button class="close-button" mat-button (click)="goToLandingPage()">
                <h2>X</h2>
            </button>
            <div class="signup-title">
                <h1>Sign Up</h1>
            </div>
            <div class="signup-text">
                <h3>Don't have an account? Sign up here.</h3>
            </div>
            <button class="signup-button" mat-button (click)="goToSignUpPage()">Sign Up</button>
        </div>
    </div>

</body>