<meta name="viewport" content="width=device-width, initial-scale=1.0">


<mat-toolbar color="primary">
    <button class="signup-toolbar" mat-button (click)="goToSignUpPage()">Get started</button>
    <button class="login-toolbar" mat-button (click)="goToLoginPage()">Log in</button>
</mat-toolbar>

<div class="grid-container">
    <div>
        <div class="title">
            Birthday Manager
        </div>


        <div class="buttonClass" >
            <button class="signup-button" mat-button (click)="goToSignUpPage()">Get started</button>
            <button class="login-button" mat-button (click)="goToLoginPage()">Log in</button>
        </div>
    </div>
        <div>
            <img class="img" src="assets/images/imgB.jpg">
        </div>
    </div>
