<meta name="viewport" content="width=device-width, initial-scale=1.0">


<mat-toolbar color="primary">
    <button class="signup-toolbar" mat-button (click)="goToSignUpPage()">Get started</button>
    <button class="login-toolbar" mat-button (click)="goToLoginPage()">LOG IN</button>
</mat-toolbar>

<div class="grid-container">
    <div>
        <div class="title">
            Manage your passwords easily
        </div>

        <div class="text">
            Password management is defined as a system that facilitates a simple, secure way to store passwords and
            access them
            quickly when required. Today, password management is a critical part of the IT policy of most organizations.
            Password
            management solutions ensure robust cybersecurity as well as convenience for home and enterprise users alike.
        </div>

        <button class="signup-button" mat-button (click)="goToSignUpPage()">Get started</button>
        <button class="login-button" mat-button (click)="goToLoginPage()">Log in</button>
    </div>
    <div>
        <img class="phone" src="assets/images/Phone.png">
    </div>
</div>