<div class="container">
    <form [formGroup]="userForm" (ngSubmit)="onAddUser()">
        <div class="signup-text">
            <h3>Sign up</h3>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="name?.hasError('name-not-valid')"> Enter your full name. </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="email?.invalid">Please enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" minlength="16" placeholder="Ex. nHvgfr!vfd4vfDvh"
                formControlName="masterPassword">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="masterPassword?.hasError('password-not-valid')">
                Password must contain at least 16 characters, 1 uppercase, 1 lowercase and 1 special character.
            </mat-error>
            <mat-error *ngIf="userForm?.hasError('masterPassword')"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Repeat password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" minlength="16" placeholder="Confirm password"
                formControlName="masterPasswordConfirm">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <div class="password-error"
            *ngIf="userForm.errors?.['passwordMissmatchError'] && masterPasswordConfirm('masterPasswordConfirm')?.touched">
            <p>Passwords do not match.</p>
        </div>

        <div class="orContainer">
            <div>
                <hr>
            </div>
            <div>or</div>
            <div>
                <hr>
            </div>
        </div>
        <div> Already have an account?<button mat-button color="primary" (click)="goToSignInPage()">Sign in</button>
        </div>
        <button style="margin-top: 30px;" color="primary" type="submit" mat-raised-button>Submit</button>
    </form>

</div>